*{
    box-sizing:border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  :root{
    --hue-neutral:200;
    --hue-correct:500;
    --hue-wrong:700;
  }

  body{
    --hue:var(--hue-neutral);
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    background-color: hsl(var(--hue), 100%, 30%);
  }

  .container{
      width:600px;
      max-width:80%;
      background-color:white;
      padding:10px;
      border-radius:5px;
      box-shadow:0 0 15px 2px;
  }

   .btn-grid{
      display:grid;
      gap:20px;
      margin:20px;
      grid-template-columns:repeat(2, auto);
    }

    .answerBtn{
        --hue:var(--hue-neutral);
        border:1px solid hsl(var(--hue), 100%, 30%);
        background-color: hsl(var(--hue), 100%, 50%);
        border-radius:5px;
        padding:5px 10px;
        color:white;
        outline:none;
    }

    .answerBtn:hover{
        border-color:black;
    }

    .answerBtn.correct{
        --hue:var(--hue-correct)
    }

    .answerBtn.wrong{
        --hue:var(--hue-correct)
    }

    .startBtn{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        color: green;
    }

    .startBtn:hover{
        border-color:black;
    }

    .controls{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .hide{
        display:none;
    }